@using BlazorShop.Data;
<EditForm Model="model" OnValidSubmit="OnSubmitAsync">

    <ErrorsList ShowErrors="ShowErrors" Errors="Errors" />
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-row">

        <div class="form-group col-md flex-grow-0">
            <label>数量</label>
            <div class="input-group mb-3 input-spinner">
                <div class="input-group-prepend">
                    <button @onclick="DecrementQuantity" class="btn btn-light" type="button" id="button-minus"> &minus; </button>
                </div>
                <input @bind-value="model.Quantity" type="text" class="form-control" />
                <div class="input-group-append">
                    <button @onclick="IncrementQuantity" class="btn btn-light" type="button" id="button-plus"> + </button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md">
            <button type="submit" class="btn btn-primary">
                <span class="text">添加到购物车</span>
                <i class="fas fa-shopping-cart"></i>
            </button>

            <a @onclick="() => AddToWishlist()"
               @onclick:preventDefault
               href="#"
               class="btn btn-light">
               <i class="fas fa-star"></i>
            </a>

@*            <button class="btn btn-primary" @onclick="() => AddToWishlist()">
                <span class="text">收藏</span>
                <i class="fas fa-star"></i>
            </button>*@

            <CascadingAuthenticationState>
            <AuthorizeView Roles="@Constants.AdministratorRole" Context="Auth">
                <a href="/products/update/@ProductId"
                   class="btn btn-outline-warning">
                    <i class="fa fa-pen"> 更新商品</i>
                </a>

                <a @onclick:preventDefault
                   @onclick="() => OnDeleteAsync()"
                   href=""
                   class="btn btn-outline-danger">
                    <i class="fa fa-trash"> 删除商品</i>
                </a>
            </AuthorizeView>
            </CascadingAuthenticationState>
        </div>
    </div>
</EditForm>
