@attribute [Authorize]

<a class="dropdown-item" href="/" @onclick="Submit">退出登录</a>

@code {
	private async Task Submit() {
		this.ToastService.ShowSuccess("已退出登录");
		await this.AuthService.Logout();
	}
}